/* if the body needs an overflow, we need to give it first to the html */
/* so it won't be overriden */

html {
    background: #b3b3b3;
    padding: 15px;
    border: 5px solid white;
    margin: 15px;
    height: 2000px;

    overflow: auto;
  }

body {
    background: #fa923f;
    padding: 20px;
    border: 5px solid black;
    margin: 0;

    overflow: hidden;
  }
  
.parent {
    background: white;
    padding: 20px;
    border: 5px solid black;
    margin: 0;

    /* hidden the overflow makes invisible all his ancestor/child elements with relative */
    /* position outside of this area. */
    /* overflow: hidden; */
  }
  
.parent div {
    background: rgb(105, 105, 109);
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
}

/* Navigation bar FIXED in screen: */
/* fixed elements are inline and stays always in the same position. */
/* fixed elements are relative to the viewport, so positioning (top, left, ...) refers to that. */
.parent .child-1 {
  position: fixed;
  margin: 0;
  /* positioning in the top-left corner of the viewport */
  top: 0;
  left: 0;
  width: 100%;
  /* the nav width should include its borders */
  box-sizing: border-box;
}

/* elements with a relative position are relative to themselves */
/* and they can be hidden with overflow defined in his ancestor/parent element. */
.parent .child-2 {
  position: relative;
  top: 130px;
}
